<a href="https://colab.research.google.com/github/CodyBurker/W266_Group_Project/blob/master/CNN_Confidence_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Based on: https://machinelearningmastery.com/develop-word-embedding-model-predicting-movie-review-sentiment/

In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords
import nltk
import numpy as np

In [2]:
!git clone https://github.com/CodyBurker/W266_Group_Project

Cloning into 'W266_Group_Project'...
remote: Enumerating objects: 206, done.
remote: Counting objects: 100% (206/206), done.
remote: Compressing objects: 100% (185/185), done.
remote: Total 206 (delta 86), reused 78 (delta 16), pack-reused 0
Receiving objects: 100% (206/206), 141.57 MiB | 26.39 MiB/s, done.
Resolving deltas: 100% (86/86), done.
Checking out files: 100% (46/46), done.

In [3]:
X_train = pd.read_csv("W266_Group_Project/x_train_stage_1_sampled_yelp_data.csv")
y_train = pd.read_csv("W266_Group_Project/y_train_stage_1_sampled_yelp_data.csv")
X_test = pd.read_csv("W266_Group_Project/x_test_sampled_yelp_data_NEW.csv")
y_test = pd.read_csv("W266_Group_Project/y_test_sampled_yelp_data_NEW.csv")
y_train = np.array(y_train.stars.astype('int')) - 1
y_test = np.array(y_test.stars.astype('int')) - 1

Encode text and pad it.

In [4]:
from keras_preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

In [5]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train['text'])

In [6]:
# Hyper parameters to tune later: maxlen, padding
sentence_len = 1024

In [7]:
from tensorflow import keras
model = keras.models.load_model('W266_Group_Project/CNNModel')
x_train_stage_2 = pd.read_csv("W266_Group_Project/x_test_sampled_yelp_data_NEW.csv")
x_train_stage_2_tok = tokenizer.texts_to_sequences(x_train_stage_2['text'])
x_train_stage_2_enc = pad_sequences(x_train_stage_2_tok, maxlen=sentence_len, padding='post', truncating = 'post')

In [8]:
stage_2_preds = model.predict(x_train_stage_2_enc)

In [9]:
stage_2_preds[0:10]

array([[3.1757440e-07, 8.4638953e-07, 1.2774019e-04, 5.6284491e-02,
        9.4358665e-01],
       [3.9557483e-07, 6.1688356e-06, 1.8233644e-03, 2.7319172e-01,
        7.2497833e-01],
       [1.5015698e-07, 1.4413097e-06, 4.6647715e-04, 1.5703022e-01,
        8.4250170e-01],
       [5.0936126e-07, 1.1098323e-06, 1.5037988e-04, 5.6569081e-02,
        9.4327897e-01],
       [1.6168639e-04, 3.8985137e-04, 8.3200857e-03, 1.9665444e-01,
        7.9447395e-01],
       [6.0385287e-06, 3.0404935e-05, 2.7150663e-03, 2.2024299e-01,
        7.7700549e-01],
       [8.7030344e-03, 4.8253406e-03, 2.1583719e-02, 1.5553042e-01,
        8.0935746e-01],
       [1.6287164e-03, 6.6912826e-03, 9.1496527e-02, 5.1976049e-01,
        3.8042295e-01],
       [1.5208273e-05, 7.9325973e-06, 1.8611125e-04, 2.8281190e-02,
        9.7150958e-01],
       [5.4007791e-07, 3.5952880e-06, 7.7410898e-04, 1.5931532e-01,
        8.3990639e-01]], dtype=float32)

In [10]:
stage_2_preds_df = pd.DataFrame(stage_2_preds)
stage_2_preds_df.columns = ['CNN1','CNN2','CNN3','CNN4','CNN5']
stage_2_preds_df

               CNN1          CNN2      CNN3      CNN4      CNN5
0      3.175744e-07  8.463895e-07  0.000128  0.056284  0.943587
1      3.955748e-07  6.168836e-06  0.001823  0.273192  0.724978
2      1.501570e-07  1.441310e-06  0.000466  0.157030  0.842502
3      5.093613e-07  1.109832e-06  0.000150  0.056569  0.943279
4      1.616864e-04  3.898514e-04  0.008320  0.196654  0.794474
...             ...           ...       ...       ...       ...
19995  2.565809e-04  1.956197e-03  0.052796  0.521081  0.423910
19996  6.199432e-01  1.163955e-01  0.054377  0.038821  0.170463
19997  3.410459e-01  2.749152e-01  0.238238  0.090561  0.055240
19998  2.941808e-04  2.484921e-04  0.003160  0.099359  0.896939
19999  3.012473e-06  1.417427e-05  0.001501  0.179933  0.818549

[20000 rows x 5 columns]

In [11]:
# Write processed preds to disk
stage_2_preds_df.to_csv("W266_Group_Project/CNN_X_test_predictions_Confidence.csv")

80k Stage 2

In [12]:
x_train_stage_2 = pd.read_csv("W266_Group_Project/x_train_stage_2_sampled_yelp_data.csv")
x_train_stage_2_tok = tokenizer.texts_to_sequences(x_train_stage_2['text'])
x_train_stage_2_enc = pad_sequences(x_train_stage_2_tok, maxlen=sentence_len, padding='post', truncating = 'post')

In [13]:
stage_2_preds_df = pd.DataFrame(stage_2_preds)
stage_2_preds_df.columns = ['CNN1','CNN2','CNN3','CNN4','CNN5']
stage_2_preds_df

               CNN1          CNN2      CNN3      CNN4      CNN5
0      3.175744e-07  8.463895e-07  0.000128  0.056284  0.943587
1      3.955748e-07  6.168836e-06  0.001823  0.273192  0.724978
2      1.501570e-07  1.441310e-06  0.000466  0.157030  0.842502
3      5.093613e-07  1.109832e-06  0.000150  0.056569  0.943279
4      1.616864e-04  3.898514e-04  0.008320  0.196654  0.794474
...             ...           ...       ...       ...       ...
19995  2.565809e-04  1.956197e-03  0.052796  0.521081  0.423910
19996  6.199432e-01  1.163955e-01  0.054377  0.038821  0.170463
19997  3.410459e-01  2.749152e-01  0.238238  0.090561  0.055240
19998  2.941808e-04  2.484921e-04  0.003160  0.099359  0.896939
19999  3.012473e-06  1.417427e-05  0.001501  0.179933  0.818549

[20000 rows x 5 columns]

In [14]:
stage_2_preds_df.to_csv("W266_Group_Project/CNN_X_test_stage2_predictions_Confidence.csv")