<a href="https://colab.research.google.com/github/CodyBurker/W266_Group_Project/blob/master/Cody_Ensembles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/CodyBurker/W266_Group_Project

fatal: destination path 'W266_Group_Project' already exists and is not an empty directory.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
def read_in_data(path="W266_Group_Project/"):
    import pandas as pd
    CNN_Predictions = pd.read_csv(path + "CNN_Confidence_x_train_stage_2_sampled_yelp_data.csv")
    t5_Predictions = pd.read_csv(path + "t5_Predictions.csv")
    BERT_Predictions = pd.read_csv(path + "BERT_Confidence_Predictions_80k_Stage_2.csv")
    CNN_Predictions_X_test = pd.read_csv(path + "CNN_Confidence_x_test_sampled_yelp_data_NEW.csv")
    t5_Predictions_X_test = pd.read_csv(path + "t5_Predictions_test20k.csv")
    BERT_Predictions_X_test = pd.read_csv(path + "BERT_X_Test_Confidence_Predictions.csv")
    y_test = pd.read_csv(path + "y_test_sampled_yelp_data_NEW.csv")
    return CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test
CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test = read_in_data()

In [7]:
CNN_Predictions

,Unnamed: 0,CNN1,CNN2,CNN3,CNN4,CNN5
0,0,5.427476e-11,2.715670e-10,6.243860e-07,0.011438,0.988562
1,1,8.084996e-04,1.569545e-03,2.182554e-02,0.271557,0.704240
2,2,1.538801e-04,8.844910e-04,2.496092e-02,0.389661,0.584339
3,3,2.277644e-03,7.508255e-03,8.434497e-02,0.502889,0.402980
4,4,2.641205e-04,2.914766e-03,7.740989e-02,0.604250,0.315161
...,...,...,...,...,...,...
79995,79995,7.084869e-04,3.085575e-03,5.436052e-02,0.466108,0.475737
79996,79996,9.292719e-08,7.591374e-07,2.654752e-04,0.121828,0.877906
79997,79997,3.046503e-04,3.520773e-04,4.828411e-03,0.132024,0.862491
79998,79998,6.403273e-05,1.884199e-03,8.940139e-02,0.711236,0.197414
79999,79999,2.152870e-05,5.342661e-04,4.390914e-02,0.660857,0.294678

In [8]:
CNN_Predictions_X_test
# I believe this is Cody's mislabeled CNN probabilities

       Unnamed: 0          CNN1          CNN2      CNN3      CNN4      CNN5
0               0  3.192664e-07  8.497344e-07  0.000128  0.056308  0.943563
1               1  3.967343e-07  6.186231e-06  0.001827  0.273400  0.724766
2               2  1.501992e-07  1.440981e-06  0.000466  0.157051  0.842481
3               3  5.104080e-07  1.112177e-06  0.000151  0.056605  0.943243
4               4  1.618752e-04  3.904097e-04  0.008331  0.196789  0.794327
...           ...           ...           ...       ...       ...       ...
19995       19995  2.566058e-04  1.955470e-03  0.052774  0.521049  0.423965
19996       19996  6.207200e-01  1.164334e-01  0.054312  0.038678  0.169856
19997       19997  3.409913e-01  2.749851e-01  0.238320  0.090529  0.055175
19998       19998  2.946011e-04  2.487160e-04  0.003161  0.099363  0.896932
19999       19999  3.013830e-06  1.417894e-05  0.001501  0.179909  0.818573

[20000 rows x 6 columns]

In [9]:
t5_Predictions

       Predicted  Actual
0            5.0     5.0
1            4.0     5.0
2            5.0     5.0
3            4.0     4.0
4            5.0     5.0
...          ...     ...
79995        5.0     4.0
79996        4.0     5.0
79997        5.0     5.0
79998        4.0     5.0
79999        4.0     4.0

[80000 rows x 2 columns]

In [10]:
t5_Predictions_X_test['Predicted']

0        5.0
1        5.0
2        5.0
3        5.0
4        2.0
        ...
19995    4.0
19996    1.0
19997    1.0
19998    5.0
19999    5.0
Name: Predicted, Length: 20000, dtype: float64

In [11]:
BERT_Predictions

       Unnamed: 0    BERT_1    BERT_2    BERT_3    BERT_4    BERT_5
0               0  0.024857  0.005415  0.056003  0.771531  0.996599
1               1  0.004481  0.010059  0.391948  0.945052  0.939804
2               2  0.004939  0.007811  0.328711  0.951087  0.958482
3               3  0.080064  0.538852  0.838086  0.650266  0.089823
4               4  0.005559  0.008710  0.287581  0.939283  0.965524
...           ...       ...       ...       ...       ...       ...
79995       79995  0.007587  0.009282  0.259549  0.918401  0.974184
79996       79996  0.004677  0.007319  0.323360  0.945821  0.960495
79997       79997  0.009608  0.009092  0.165691  0.881253  0.983475
79998       79998  0.003487  0.012239  0.467620  0.951012  0.884621
79999       79999  0.008487  0.053055  0.703839  0.918848  0.734822

[80000 rows x 6 columns]

In [12]:
BERT_Predictions_X_test

       Unnamed: 0    BERT_1    BERT_2    BERT_3    BERT_4    BERT_5
0               0  0.019746  0.018920  0.477434  0.991300  0.994669
1               1  0.010047  0.038473  0.144444  0.952882  0.998253
2               2  0.008667  0.021188  0.240987  0.976283  0.998178
3               3  0.027592  0.057912  0.104421  0.880103  0.998919
4               4  0.051178  0.041205  0.379122  0.961949  0.993305
...           ...       ...       ...       ...       ...       ...
19995       19995  0.017410  0.019457  0.550589  0.991522  0.992207
19996       19996  0.734186  0.514997  0.543162  0.500637  0.338703
19997       19997  0.993853  0.917035  0.313864  0.055757  0.039432
19998       19998  0.020995  0.020365  0.315483  0.986063  0.996830
19999       19999  0.009718  0.027017  0.204431  0.971233  0.998089

[20000 rows x 6 columns]

In [13]:
y_test['stars']

0        5.0
1        3.0
2        5.0
3        5.0
4        5.0
        ...
19995    3.0
19996    1.0
19997    1.0
19998    4.0
19999    5.0
Name: stars, Length: 20000, dtype: float64

In [14]:
train_data = {'BERT_1': BERT_Predictions['BERT_1'],
              'BERT_2': BERT_Predictions['BERT_2'],
              'BERT_3': BERT_Predictions['BERT_3'],
              'BERT_4': BERT_Predictions['BERT_4'],
              'BERT_5': BERT_Predictions['BERT_5'],
              'CNN_1': CNN_Predictions['CNN1'],
              'CNN_2': CNN_Predictions['CNN2'],
              'CNN_3': CNN_Predictions['CNN3'],
              'CNN_4': CNN_Predictions['CNN4'],
              'CNN_5': CNN_Predictions['CNN5'],
              'T5_Preds': t5_Predictions['Predicted'],
              'Actuals': t5_Predictions['Actual']
              }

In [36]:
train_combined_dataframe = pd.DataFrame(train_data)
train_combined_dataframe = train_combined_dataframe.drop('Actuals', axis = 1)
train_combined_dataframe
# may need to clean up the formatting of the values to align( e.g., integer vs. float)

,BERT_1,BERT_2,BERT_3,BERT_4,BERT_5,CNN_1,CNN_2,CNN_3,CNN_4,CNN_5,T5_Preds
0,0.024857,0.005415,0.056003,0.771531,0.996599,5.427476e-11,2.715670e-10,6.243860e-07,0.011438,0.988562,5.0
1,0.004481,0.010059,0.391948,0.945052,0.939804,8.084996e-04,1.569545e-03,2.182554e-02,0.271557,0.704240,4.0
2,0.004939,0.007811,0.328711,0.951087,0.958482,1.538801e-04,8.844910e-04,2.496092e-02,0.389661,0.584339,5.0
3,0.080064,0.538852,0.838086,0.650266,0.089823,2.277644e-03,7.508255e-03,8.434497e-02,0.502889,0.402980,4.0
4,0.005559,0.008710,0.287581,0.939283,0.965524,2.641205e-04,2.914766e-03,7.740989e-02,0.604250,0.315161,5.0
...,...,...,...,...,...,...,...,...,...,...,...
79995,0.007587,0.009282,0.259549,0.918401,0.974184,7.084869e-04,3.085575e-03,5.436052e-02,0.466108,0.475737,5.0
79996,0.004677,0.007319,0.323360,0.945821,0.960495,9.292719e-08,7.591374e-07,2.654752e-04,0.121828,0.877906,4.0
79997,0.009608,0.009092,0.165691,0.881253,0.983475,3.046503e-04,3.520773e-04,4.828411e-03,0.132024,0.862491,5.0
79998,0.003487,0.012239,0.467620,0.951012,0.884621,6.403273e-05,1.884199e-03,8.940139e-02,0.711236,0.197414,4.0
79999,0.008487,0.053055,0.703839,0.918848,0.734822,2.152870e-05,5.342661e-04,4.390914e-02,0.660857,0.294678,4.0

In [16]:
train_actuals = pd.DataFrame(train_data)
train_actuals = train_actuals[['Actuals']]
train_actuals

       Actuals
0          5.0
1          5.0
2          5.0
3          4.0
4          5.0
...        ...
79995      4.0
79996      5.0
79997      5.0
79998      5.0
79999      4.0

[80000 rows x 1 columns]

In [17]:
test_data = {'BERT_1': BERT_Predictions_X_test['BERT_1'],
             'BERT_2': BERT_Predictions_X_test['BERT_2'],
             'BERT_3': BERT_Predictions_X_test['BERT_3'],
             'BERT_4': BERT_Predictions_X_test['BERT_4'],
             'BERT_5': BERT_Predictions_X_test['BERT_5'],
             'CNN_1': CNN_Predictions_X_test['CNN1'],
             'CNN_2': CNN_Predictions_X_test['CNN2'],
             'CNN_3': CNN_Predictions_X_test['CNN3'],
             'CNN_4': CNN_Predictions_X_test['CNN4'],
             'CNN_5': CNN_Predictions_X_test['CNN5'],
             'T5_Preds': t5_Predictions_X_test['Predicted'],
             'Actuals': y_test['stars']
             }

In [18]:
test_combined_dataframe = pd.DataFrame(test_data)
test_combined_dataframe = test_combined_dataframe.drop('Actuals', axis = 1)
test_combined_dataframe

,BERT_1,BERT_2,BERT_3,BERT_4,BERT_5,CNN_1,CNN_2,CNN_3,CNN_4,CNN_5,T5_Preds
0,0.019746,0.018920,0.477434,0.991300,0.994669,3.192664e-07,8.497344e-07,0.000128,0.056308,0.943563,5.0
1,0.010047,0.038473,0.144444,0.952882,0.998253,3.967343e-07,6.186231e-06,0.001827,0.273400,0.724766,5.0
2,0.008667,0.021188,0.240987,0.976283,0.998178,1.501992e-07,1.440981e-06,0.000466,0.157051,0.842481,5.0
3,0.027592,0.057912,0.104421,0.880103,0.998919,5.104080e-07,1.112177e-06,0.000151,0.056605,0.943243,5.0
4,0.051178,0.041205,0.379122,0.961949,0.993305,1.618752e-04,3.904097e-04,0.008331,0.196789,0.794327,2.0
...,...,...,...,...,...,...,...,...,...,...,...
19995,0.017410,0.019457,0.550589,0.991522,0.992207,2.566058e-04,1.955470e-03,0.052774,0.521049,0.423965,4.0
19996,0.734186,0.514997,0.543162,0.500637,0.338703,6.207200e-01,1.164334e-01,0.054312,0.038678,0.169856,1.0
19997,0.993853,0.917035,0.313864,0.055757,0.039432,3.409913e-01,2.749851e-01,0.238320,0.090529,0.055175,1.0
19998,0.020995,0.020365,0.315483,0.986063,0.996830,2.946011e-04,2.487160e-04,0.003161,0.099363,0.896932,5.0
19999,0.009718,0.027017,0.204431,0.971233,0.998089,3.013830e-06,1.417894e-05,0.001501,0.179909,0.818573,5.0

In [19]:
test_actuals = pd.DataFrame(test_data)
test_actuals = test_actuals[['Actuals']]
test_actuals

       Actuals
0          5.0
1          3.0
2          5.0
3          5.0
4          5.0
...        ...
19995      3.0
19996      1.0
19997      1.0
19998      4.0
19999      5.0

[20000 rows x 1 columns]

## Cody Ensemble Models:
* Neural Network
* SVM
* Adaboost
* Random Forest

Inspiration from: https://www.kaggle.com/code/jeffd23/10-classifier-showdown-in-scikit-learn/notebook and here https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html#sphx-glr-auto-examples-classification-plot-classifier-comparison-py

In [21]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.neural_network import MLPClassifier

names = [
         "SVM",
         "KNN",
         "Random Forest",
         "Ada Boost",
         "Gradient Boost",
         "Naive Bayes",
         "MLP"
]

models = [
          SVC(C=1, kernel="rbf",degree=3),
          KNeighborsClassifier(3),
          RandomForestClassifier(),
          AdaBoostClassifier(),
          GradientBoostingClassifier(),
          GaussianNB(),
          MLPClassifier(alpha=1, max_iter=1000)
]

In [22]:
for name,model  in zip(names, models):
  model.fit(train_combined_dataframe, train_actuals['Actuals'])
  predictions = model.predict(test_combined_dataframe)
  acc = accuracy_score(predictions, test_actuals['Actuals'])
  print("Accuracy: {}\t{:.4%}".format(name, acc))

Accuracy: SVM	72.4150%
Accuracy: KNN	60.3800%
Accuracy: Random Forest	60.9850%
Accuracy: Ada Boost	70.2000%
Accuracy: Gradient Boost	52.3900%
Accuracy: Naive Bayes	70.4000%
Accuracy: MLP	71.4500%

Let's try KNN but with just the confidences of BERT and CNN, since the scaling of the T5 model predictions might affect it?

In [25]:
  # Try KNN but with just the confidences of BERT and CNN?
KNN_train = train_combined_dataframe[['BERT_1','BERT_2','BERT_3','BERT_4','BERT_5','CNN_1','CNN_2','CNN_3','CNN_4','CNN_5']]
KNN_test = test_combined_dataframe[['BERT_1','BERT_2','BERT_3','BERT_4','BERT_5','CNN_1','CNN_2','CNN_3','CNN_4','CNN_5']]
knn_2 = KNeighborsClassifier()
knn_2.fit(KNN_train, train_actuals['Actuals'])
knn_2_preds = knn_2.predict(KNN_test)
acc = accuracy_score(predictions, test_actuals['Actuals'])
print("Accuracy: {}\t{:.4%}".format("KNN V2", acc))

Accuracy: KNN V2	71.4500%

Let's try that on all the other models to see if it boosts the score. One other thing to try might be just scaling the T5 preds to be between 0 and 1 (divide by 5)?

In [26]:
for name,model  in zip(names, models):
  model.fit(KNN_train, train_actuals['Actuals'])
  predictions = model.predict(KNN_test)
  acc = accuracy_score(predictions, test_actuals['Actuals'])
  print("Accuracy: {}\t{:.4%}".format(name, acc))

Accuracy: SVM	71.9500%
Accuracy: KNN	59.7800%
Accuracy: Random Forest	61.3350%
Accuracy: Ada Boost	69.8500%
Accuracy: Gradient Boost	53.0600%
Accuracy: Naive Bayes	70.2000%
Accuracy: MLP	71.5250%

Scale the T5 preds and then try that again?

In [37]:
train_combined_scaled = train_combined_dataframe
train_combined_scaled['T5_Preds'] = train_combined_scaled['T5_Preds'] / 5
test_combined_scaled = test_combined_dataframe
test_combined_scaled['T5_Preds'] = test_combined_scaled['T5_Preds'] / 5

In [38]:
train_combined_dataframe

,BERT_1,BERT_2,BERT_3,BERT_4,BERT_5,CNN_1,CNN_2,CNN_3,CNN_4,CNN_5,T5_Preds
0,0.024857,0.005415,0.056003,0.771531,0.996599,5.427476e-11,2.715670e-10,6.243860e-07,0.011438,0.988562,1.0
1,0.004481,0.010059,0.391948,0.945052,0.939804,8.084996e-04,1.569545e-03,2.182554e-02,0.271557,0.704240,0.8
2,0.004939,0.007811,0.328711,0.951087,0.958482,1.538801e-04,8.844910e-04,2.496092e-02,0.389661,0.584339,1.0
3,0.080064,0.538852,0.838086,0.650266,0.089823,2.277644e-03,7.508255e-03,8.434497e-02,0.502889,0.402980,0.8
4,0.005559,0.008710,0.287581,0.939283,0.965524,2.641205e-04,2.914766e-03,7.740989e-02,0.604250,0.315161,1.0
...,...,...,...,...,...,...,...,...,...,...,...
79995,0.007587,0.009282,0.259549,0.918401,0.974184,7.084869e-04,3.085575e-03,5.436052e-02,0.466108,0.475737,1.0
79996,0.004677,0.007319,0.323360,0.945821,0.960495,9.292719e-08,7.591374e-07,2.654752e-04,0.121828,0.877906,0.8
79997,0.009608,0.009092,0.165691,0.881253,0.983475,3.046503e-04,3.520773e-04,4.828411e-03,0.132024,0.862491,1.0
79998,0.003487,0.012239,0.467620,0.951012,0.884621,6.403273e-05,1.884199e-03,8.940139e-02,0.711236,0.197414,0.8
79999,0.008487,0.053055,0.703839,0.918848,0.734822,2.152870e-05,5.342661e-04,4.390914e-02,0.660857,0.294678,0.8

In [39]:
for name,model  in zip(names, models):
  model.fit(train_combined_scaled, train_actuals['Actuals'])
  predictions = model.predict(test_combined_scaled)
  acc = accuracy_score(predictions, test_actuals['Actuals'])
  print("Accuracy: {}\t{:.4%}".format(name, acc))

Accuracy: SVM	67.3350%
Accuracy: KNN	61.3500%
Accuracy: Random Forest	58.4400%
Accuracy: Ada Boost	70.4350%
Accuracy: Gradient Boost	51.5750%
Accuracy: Naive Bayes	28.6150%
Accuracy: MLP	69.7650%

Let's focus on SVM - let's try a linear one because it's faster so we can tune it better.

In [1]:
from sklearn.svm import LinearSVC
linear_SVM = LinearSVC()
linear_SVM.fit(train_combined_dataframe, train_actuals['Actuals'])
linear_preds = linear_SVM.predict(test_combined_dataframe)
acc = accuracy_score(linear_preds, test_actuals['Actuals'])
print("Accuracy: {}\t{:.4%}".format(name, acc))

NameError: ignored