<a href="https://colab.research.google.com/github/CodyBurker/W266_Group_Project/blob/CodyCNNBase/ModelErrorAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/CodyBurker/W266_Group_Project

Cloning into 'W266_Group_Project'...
remote: Enumerating objects: 321, done.
remote: Counting objects: 100% (321/321), done.
remote: Compressing objects: 100% (287/287), done.
remote: Total 321 (delta 159), reused 108 (delta 29), pack-reused 0
Receiving objects: 100% (321/321), 142.32 MiB | 11.95 MiB/s, done.
Resolving deltas: 100% (159/159), done.
Checking out files: 100% (54/54), done.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
def read_in_data(path="W266_Group_Project/"):
    import pandas as pd
    CNN_Predictions = pd.read_csv(path + "CNN_Confidence_x_train_stage_2_sampled_yelp_data.csv")
    t5_Predictions = pd.read_csv(path + "t5_Predictions.csv")
    BERT_Predictions = pd.read_csv(path + "BERT_Confidence_Predictions_80k_Stage_2.csv")
    CNN_Predictions_X_test = pd.read_csv(path + "CNN_Confidence_x_test_sampled_yelp_data_NEW.csv")
    t5_Predictions_X_test = pd.read_csv(path + "t5_Predictions_test20k.csv")
    BERT_Predictions_X_test = pd.read_csv(path + "BERT_X_Test_Confidence_Predictions.csv")
    y_test = pd.read_csv(path + "y_test_sampled_yelp_data_NEW.csv")
    return CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test
CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test = read_in_data()

In [4]:
CNN_Predictions

,Unnamed: 0,CNN1,CNN2,CNN3,CNN4,CNN5
0,0,5.427476e-11,2.715670e-10,6.243860e-07,0.011438,0.988562
1,1,8.084996e-04,1.569545e-03,2.182554e-02,0.271557,0.704240
2,2,1.538801e-04,8.844910e-04,2.496092e-02,0.389661,0.584339
3,3,2.277644e-03,7.508255e-03,8.434497e-02,0.502889,0.402980
4,4,2.641205e-04,2.914766e-03,7.740989e-02,0.604250,0.315161
...,...,...,...,...,...,...
79995,79995,7.084869e-04,3.085575e-03,5.436052e-02,0.466108,0.475737
79996,79996,9.292719e-08,7.591374e-07,2.654752e-04,0.121828,0.877906
79997,79997,3.046503e-04,3.520773e-04,4.828411e-03,0.132024,0.862491
79998,79998,6.403273e-05,1.884199e-03,8.940139e-02,0.711236,0.197414
79999,79999,2.152870e-05,5.342661e-04,4.390914e-02,0.660857,0.294678

In [5]:
CNN_Predictions_X_test
# I believe this is Cody's mislabeled CNN probabilities

       Unnamed: 0          CNN1          CNN2      CNN3      CNN4      CNN5
0               0  3.192664e-07  8.497344e-07  0.000128  0.056308  0.943563
1               1  3.967343e-07  6.186231e-06  0.001827  0.273400  0.724766
2               2  1.501992e-07  1.440981e-06  0.000466  0.157051  0.842481
3               3  5.104080e-07  1.112177e-06  0.000151  0.056605  0.943243
4               4  1.618752e-04  3.904097e-04  0.008331  0.196789  0.794327
...           ...           ...           ...       ...       ...       ...
19995       19995  2.566058e-04  1.955470e-03  0.052774  0.521049  0.423965
19996       19996  6.207200e-01  1.164334e-01  0.054312  0.038678  0.169856
19997       19997  3.409913e-01  2.749851e-01  0.238320  0.090529  0.055175
19998       19998  2.946011e-04  2.487160e-04  0.003161  0.099363  0.896932
19999       19999  3.013830e-06  1.417894e-05  0.001501  0.179909  0.818573

[20000 rows x 6 columns]

In [6]:
t5_Predictions

       Predicted  Actual
0            5.0     5.0
1            4.0     5.0
2            5.0     5.0
3            4.0     4.0
4            5.0     5.0
...          ...     ...
79995        5.0     4.0
79996        4.0     5.0
79997        5.0     5.0
79998        4.0     5.0
79999        4.0     4.0

[80000 rows x 2 columns]

In [7]:
t5_Predictions_X_test['Predicted']

0        5.0
1        5.0
2        5.0
3        5.0
4        2.0
        ...
19995    4.0
19996    1.0
19997    1.0
19998    5.0
19999    5.0
Name: Predicted, Length: 20000, dtype: float64

In [8]:
BERT_Predictions

       Unnamed: 0    BERT_1    BERT_2    BERT_3    BERT_4    BERT_5
0               0  0.024857  0.005415  0.056003  0.771531  0.996599
1               1  0.004481  0.010059  0.391948  0.945052  0.939804
2               2  0.004939  0.007811  0.328711  0.951087  0.958482
3               3  0.080064  0.538852  0.838086  0.650266  0.089823
4               4  0.005559  0.008710  0.287581  0.939283  0.965524
...           ...       ...       ...       ...       ...       ...
79995       79995  0.007587  0.009282  0.259549  0.918401  0.974184
79996       79996  0.004677  0.007319  0.323360  0.945821  0.960495
79997       79997  0.009608  0.009092  0.165691  0.881253  0.983475
79998       79998  0.003487  0.012239  0.467620  0.951012  0.884621
79999       79999  0.008487  0.053055  0.703839  0.918848  0.734822

[80000 rows x 6 columns]

In [9]:
BERT_Predictions_X_test

       Unnamed: 0    BERT_1    BERT_2    BERT_3    BERT_4    BERT_5
0               0  0.019746  0.018920  0.477434  0.991300  0.994669
1               1  0.010047  0.038473  0.144444  0.952882  0.998253
2               2  0.008667  0.021188  0.240987  0.976283  0.998178
3               3  0.027592  0.057912  0.104421  0.880103  0.998919
4               4  0.051178  0.041205  0.379122  0.961949  0.993305
...           ...       ...       ...       ...       ...       ...
19995       19995  0.017410  0.019457  0.550589  0.991522  0.992207
19996       19996  0.734186  0.514997  0.543162  0.500637  0.338703
19997       19997  0.993853  0.917035  0.313864  0.055757  0.039432
19998       19998  0.020995  0.020365  0.315483  0.986063  0.996830
19999       19999  0.009718  0.027017  0.204431  0.971233  0.998089

[20000 rows x 6 columns]

In [10]:
y_test['stars']

0        5.0
1        3.0
2        5.0
3        5.0
4        5.0
        ...
19995    3.0
19996    1.0
19997    1.0
19998    4.0
19999    5.0
Name: stars, Length: 20000, dtype: float64

In [11]:
train_data = {'BERT_1': BERT_Predictions['BERT_1'],
              'BERT_2': BERT_Predictions['BERT_2'],
              'BERT_3': BERT_Predictions['BERT_3'],
              'BERT_4': BERT_Predictions['BERT_4'],
              'BERT_5': BERT_Predictions['BERT_5'],
              'CNN_1': CNN_Predictions['CNN1'],
              'CNN_2': CNN_Predictions['CNN2'],
              'CNN_3': CNN_Predictions['CNN3'],
              'CNN_4': CNN_Predictions['CNN4'],
              'CNN_5': CNN_Predictions['CNN5'],
              'T5_Preds': t5_Predictions['Predicted'],
              'Actuals': t5_Predictions['Actual']
              }

In [12]:
train_combined_dataframe = pd.DataFrame(train_data)
train_combined_dataframe = train_combined_dataframe.drop('Actuals', axis = 1)
train_combined_dataframe
# may need to clean up the formatting of the values to align( e.g., integer vs. float)

,BERT_1,BERT_2,BERT_3,BERT_4,BERT_5,CNN_1,CNN_2,CNN_3,CNN_4,CNN_5,T5_Preds
0,0.024857,0.005415,0.056003,0.771531,0.996599,5.427476e-11,2.715670e-10,6.243860e-07,0.011438,0.988562,5.0
1,0.004481,0.010059,0.391948,0.945052,0.939804,8.084996e-04,1.569545e-03,2.182554e-02,0.271557,0.704240,4.0
2,0.004939,0.007811,0.328711,0.951087,0.958482,1.538801e-04,8.844910e-04,2.496092e-02,0.389661,0.584339,5.0
3,0.080064,0.538852,0.838086,0.650266,0.089823,2.277644e-03,7.508255e-03,8.434497e-02,0.502889,0.402980,4.0
4,0.005559,0.008710,0.287581,0.939283,0.965524,2.641205e-04,2.914766e-03,7.740989e-02,0.604250,0.315161,5.0
...,...,...,...,...,...,...,...,...,...,...,...
79995,0.007587,0.009282,0.259549,0.918401,0.974184,7.084869e-04,3.085575e-03,5.436052e-02,0.466108,0.475737,5.0
79996,0.004677,0.007319,0.323360,0.945821,0.960495,9.292719e-08,7.591374e-07,2.654752e-04,0.121828,0.877906,4.0
79997,0.009608,0.009092,0.165691,0.881253,0.983475,3.046503e-04,3.520773e-04,4.828411e-03,0.132024,0.862491,5.0
79998,0.003487,0.012239,0.467620,0.951012,0.884621,6.403273e-05,1.884199e-03,8.940139e-02,0.711236,0.197414,4.0
79999,0.008487,0.053055,0.703839,0.918848,0.734822,2.152870e-05,5.342661e-04,4.390914e-02,0.660857,0.294678,4.0

In [ ]:
# Get bert and cnn predictions
bert_preds = np.argmax()

In [13]:
train_actuals = pd.DataFrame(train_data)
train_actuals = train_actuals[['Actuals']]
train_actuals

       Actuals
0          5.0
1          5.0
2          5.0
3          4.0
4          5.0
...        ...
79995      4.0
79996      5.0
79997      5.0
79998      5.0
79999      4.0

[80000 rows x 1 columns]

In [14]:
test_data = {'BERT_1': BERT_Predictions_X_test['BERT_1'],
             'BERT_2': BERT_Predictions_X_test['BERT_2'],
             'BERT_3': BERT_Predictions_X_test['BERT_3'],
             'BERT_4': BERT_Predictions_X_test['BERT_4'],
             'BERT_5': BERT_Predictions_X_test['BERT_5'],
             'CNN_1': CNN_Predictions_X_test['CNN1'],
             'CNN_2': CNN_Predictions_X_test['CNN2'],
             'CNN_3': CNN_Predictions_X_test['CNN3'],
             'CNN_4': CNN_Predictions_X_test['CNN4'],
             'CNN_5': CNN_Predictions_X_test['CNN5'],
             'T5_Preds': t5_Predictions_X_test['Predicted'],
             'Actuals': y_test['stars']
             }

In [26]:
test_combined_dataframe = pd.DataFrame(test_data)

In [44]:
# Check what the models got wrong
x_test = pd.read_csv("/content/W266_Group_Project/x_train_stage_2_sampled_yelp_data.csv")

Check calibration

In [45]:
bert_confdience = np.array(train_combined_dataframe[['BERT_1','BERT_2','BERT_3','BERT_4','BERT_5']]).max(axis=1)
bert_pred = np.array(train_combined_dataframe[['BERT_1','BERT_2','BERT_3','BERT_4','BERT_5']]).argmax(axis=1) + 1
bert_correct = train_actuals
cnn_confdience = np.array(train_combined_dataframe[['CNN_1','CNN_2','CNN_3','CNN_4','CNN_5']]).max(axis=1)
cnn_pred = np.array(train_combined_dataframe[['CNN_1','CNN_2','CNN_3','CNN_4','CNN_5']]).argmax(axis=1) + 1
cnn_correct = cnn_pred == train_actuals['Actuals']
bert_correct = bert_pred == train_actuals['Actuals']

In [61]:
combined_predictions_text = pd.DataFrame({
    'bert_preds':bert_pred,
    'cnn_pred':cnn_pred,
    't5_pred':t5_Predictions['Predicted'],
    'actual':np.array(train_actuals['Actuals']),
    'text':x_test['text']
})
combined_predictions_text

,bert_preds,cnn_pred,t5_pred,actual,text
0,5,5,5.0,5.0,This place has an amazing happy hour!!! The fo...
1,4,5,4.0,5.0,Was a little nervous about this place as it do...
2,5,5,5.0,5.0,I love this place Sunday nights! I just hate t...
3,3,4,4.0,4.0,"Good, almost great burgers and very good fries..."
4,5,4,5.0,5.0,First time in since the remodel. I am impresse...
...,...,...,...,...,...
79995,5,5,5.0,4.0,"It's delicious, most of the time. I don't like..."
79996,5,5,4.0,5.0,Cool little bar I stopped at while waiting on ...
79997,5,5,5.0,5.0,I recently had a great stay at this hotel. The...
79998,4,4,4.0,5.0,Tatsumi is located in the same plaza as Alamo ...
79999,4,4,4.0,4.0,This place is inside the mall and it's very ni...

In [95]:
# Filter where all 3 are equal
x1 = (bert_pred == cnn_pred)
x2 = (cnn_pred == t5_Predictions['Predicted'])
x3 = (bert_pred == t5_Predictions['Predicted'])
all_same = np.all(np.array([x1,x2,x3]),axis=0)
same = combined_predictions_text[all_same]

In [98]:
same['diff'] = np.abs(same['bert_preds'] - same['actual'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
really_wrong = same[same['diff'] ==4]

In [126]:
np.random.seed(1234)
wrong_sample = really_wrong.sample(n=10)
for index,row in wrong_sample.iterrows():
  print("Predicted: %i, Actual: %i" % (row['bert_preds'],row['actual']))
  print(row['text'],"\n")

Predicted: 1, Actual: 5
I just wanted to point after hearing from other parents please check not recommended reviews just below. It appears that parents who want to rate this school and do not post a lot on yelp they are placed in that category due to an algorithm.

Predicted: 5, Actual: 1
What a cluster mess.   They tell me there is one line for the four registers as I stand in the one line and watch customers walk right up to the register and get help employees have no clue.  Didn't spend my $100 bucks there.  I will buy else where.  On the bright side the girl who helped me find the price of he deep fryer was super nice and helpful.  Five star to her

Predicted: 1, Actual: 5
Just wanted to let readers know that they may need 2-3 day advance appointment.  I didn't use their service because we're headed out of town in 2 days and they couldn't get us in so we're giving them the same rating everyone else did so it doesn't change their standing.

Predicted: 5, Actual: 1
My hair is sort of like a mushroom with 80s feathering. Which was not what I meant when i said i wanted a trim.

The good news is now i can wear my hair up in a pony tail for the next month until I see my regular person, Drew at Curlew Green who is amazing.

Predicted: 5, Actual: 1
What a good place to get your phone stolen! I would absolutely recommend going to this place if you want your Louis Vuitton or iPhone sold to China!

Predicted: 5, Actual: 1
According to the form letter response from the station program director, Chase @ Emmis, (to the heartfelt letter I wrote), he's firing the talent because a computer told him to do it.  His hands are tied - he's at the mercy of a machine! Really? REALLY?!? I remember when KLBJ used to be an Austin institution - THE radio station for the "music capital of the world." USED to be. This station is becoming just another corporation run by a bunch of suits. Johnny Walker's gone. Bob and Dale are constantly threatened (& that's all they talk about). But firing Charlie Hodge and Matt Sadler?? Are you TRYING to ruin your station? Charlie's everyones laughline in the afternoon! I have a special needs child and spend a lot of time in the hospital. Charlie (and Matt) have gotten me through some very difficult times! Hell, not just me, but the entire medical staff on 3N at Dell Children's Medical Center!  KLBJ had something so unique in Charlie Hodge...a truly funny, deeply passionate broadcaster dedicated to Austin, dedicated to his loyal sidekick, Matt, and most importantly, dedicated to his listeners. I might as well stop listening to the Morning Show as no doubt, KLBJ will pull that rug out from under us, too. Way to go, KLBJ, way to keep fixing things that aren't broke.  I'm out.

Predicted: 5, Actual: 1
Wow. This particular UPS Store on Central in Orlando has really gone to the dogs after the recent personnel turnover. The prior employees were professional and courteous. They also knew what they were doing. The new lala girls (as of February 2019) would rather be glued to their cell phones talking to boyfriends than helping customers. When you call on the telephone they hang up on you and then when you call back they hook you to a screaming fax line.

THERE ARE OTHER GOOD UPS STORES AROUND --AVOID THIS ONE LIKE THE PLAGUE!!!

Oh yea. They throw your packages right by the front door on top of each other for homeless people ( there are many in this downtown location) or copy customers to steal while they are glued to their cell phones with their headphones on.

Predicted: 5, Actual: 1
I'm updating this right now because I just noticed my fiance's car was keyed here yesterday! My brother was dog sitting for us yesterday and the 10 minutes it took my fiance to get our dogs, he noticed someone KEYED HIS CAR AND HIS WINDOW. Also, my brother showed me a notice the complex sent out to everyone on Saturday about a resident being attacked in the parking lot.

Predicted: 5, Actual: 1
Yikes, should have looked at Yelp before dropping off clothes for dry cleaning. Husband's silk/linen pants were torn and the lady in front of us had the same issue with a suit. Received a call this AM from the manager and all she would offer was to have it fixed at their alteration's place. 5 stars though for the young man at the counter last night when we discovered the tear, super polite!

Predicted: 5, Actual: 1
Sent my 16 year old son to order a plate of tofu and noodles and chicken and pork on the side for a shared plate. As I was 1/2 way finish with my meal I was blessed by finding a lucky penny in my dish! Who knows where this penny has been. It could of been picked up on the washroom floor of the gas station down the street! Who knows, but it ended up in my food. Thank you Maki of Japan for blessing me! I told them and no reaction at all. Just next time you should return your dish. I know there won't be a next time